.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 20px; /* Spacing between cards */
    padding: 20px; /* Padding around the grid */
    width: 100%; /* Ensures the container takes up the full width */
    box-sizing: border-box; /* Includes padding in the width calculation */
    justify-content: center;
  }
  
  
  .project-card {
    background-color: #edabb2; /* Set all cards to the specified pink color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    color: white; /* Text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    transition: transform 0.3s ease;
    display: flex; /* Makes sure the contents are flexibly organized */
    flex-direction: column; /* Aligns items in a column */
    justify-content: space-between; /* Distributes space evenly */
  }
  
  .project-card:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
  }
  
  .project-name {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit; /* Inherits color from parent */
    font-weight: bold;
  }
  
  .github-link {
    display: inline-block;
    text-decoration: none;
  }
  
  .github-link img {
    width: 24px; /* Adjust icon size */
    height: auto;
  }

@media (min-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(2, minmax(200px, 400px)); /* Adjusted card width */
  }
}