.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form input, .contact-form textarea {
    border: 2px solid #8c968c;
    background-color: #Faf5f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .contact-form input.invalid {
    border-color: #edabb2;
  }
  
  .error-message {
    color: #edabb2;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: #8c968c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  