.contact-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increase space between inputs */
    width: 90%; 
    margin: auto; /* Center the form horizontally */
    background-color: #Faf5f0;
    align-self: center;
  }
  
  .contact-form input, .contact-form textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid #8c968c;
    background-color: #ffffff; 
    padding: 10px;
    color: black;
    border-radius: 5px;
    width: calc(100% - 20px); 
    box-shadow: 0 2px 4px rgba(237, 171, 178, 0.2); /* Faint shadow for inputs */
  }
  
  .contact-form input.invalid {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: #edabb2;
  }
  
  .error-message {
    color: #edabb2;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: #8c968c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .contact-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(76vh); 
    background-color: #Faf5f0; 
  }
  
  .contact-form-container {
    width: 100%;
    max-width: 520px;
    padding: 20px;
  }
  .confirmation-message {
    color: gray; 
    text-align: center;
    margin-bottom: 15px;
  }
  