.footer {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
    background: linear-gradient(#Faf5f0, #8c968c); /* Linear gradient background */
    padding: 1rem; /* Add some padding */
    width: 100%; /* Ensure it spans the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .footer a {
    margin: 0 10px; /* Spacing between each icon */
  }

    .footer-logo {
      height: 35px; /* Adjust the size of logos */
      transition: transform 0.3s ease;
    }
    
    .footer a:hover .footer-logo {
      transform: translateY(-5px); /* Raise the logo on hover */
    }
  

  