.about-me-container {
    background-color: #Faf5f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;/* Centers the content */
    color: #000; /* Default text color */
  }
  
  .about-me-container h1 {
    margin-bottom: 20px; /* Adds space below the title */
  }
  
  .content-area {
    display: flex;
    flex-direction: row;
    width: 100%; /* Take the full width of the container */
    gap: 20px;
  }
  
  .about-me-photo {
    flex: 33%; /* Takes up one-third of the flex container */
    max-width: 100%; /* Adjusts to the flex container size */
    max-height: 400px; /* Maximum height */
    object-fit: cover; /* Adjusts the photo to cover the area */
    box-shadow: 3px 3px 10px #edabb2;
    align-self: center; /* Center the photo vertically */
  }
  
  .about-me-container p {
    flex: 66%; /* Takes up two-thirds of the flex container */
  }
  
  